---
Language: Cpp
BasedOnStyle: LLVM
Standard: c++20

# Indentation & Alignment
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -4
NamespaceIndentation: None

# Line Length
ColumnLimit: 120

# Place braces on their own line
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Keep braces expanded and on their own lines
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: All

# Pointer and Reference Alignment
PointerAlignment: Right
ReferenceAlignment: Right

# Includes
IncludeBlocks: Regroup
SortIncludes: CaseSensitive

# Structure & Comments
IndentCaseLabels: true
FixNamespaceComments: true
SpacesBeforeTrailingComments: 1
...
